.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 80px;
  line-height: 80px;
  background: $Theme-bg-color;
  padding: 0 40px;
  border-bottom: 1px solid $Theme-border-color;

  & > div {
    display: inline-block;
  }

  & .menu_logo {
    img {
      vertical-align: middle;
    }
  }

  & .menu_btn {
    span {
      display: inline-block;
      padding: 0 1vw;
      cursor: pointer;

      &.select {
        position: relative;
        color: $Theme-font-default-color;

        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: -10px;
          width: calc(100% - 2vw);
          height: 4px;
          border-radius: 6px;
          background-color: $Theme-assist-color;
        }
      }
    }

  }

  & .menu_user {
    & > div {
      display: inline;
    }
  }
}