@import "../../global";

.menu {
  overflow: hidden;
  height: 80px;
  line-height: 80px;
  background: $Theme-bg-color;
  text-align: right;
  padding: 0 40px;
  border-bottom: 1px solid $Theme-border-color;

  & > div {
    display: inline-block;
  }

  & .menu_logo {
    float: left;
  }

  & .menu_btn {
    span {
      display: inline-block;
      padding-left: 10px;
    }
  }

  & .menu_user {
    &>div {
      display: inline;
    }
  }
}