.foot {
  height: 80px;
  text-align: center;
  border-top: 1px solid $Theme-border-color;
  p {
    margin: 5px;
  }
  .am-my-face {
    animation: my-face .3s infinite ease-in-out;
    display: inline-block;
    margin: 0 5px;
  }
}
