/**
 *  日期：2018/9/5
 */

.article-content {
  display: flex;
  flex-direction: row;
  justify-content: center;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5em;
    color: rgba(0, 0, 0, .85);
  }

}

.article-list {
  position: relative;
  max-width: 50vw;
  width: 50vw;
  padding: 10px 10px 69px;

  .article-item {
    border-bottom: solid 1px $Theme-border-color;
    padding: 10px;
    margin-bottom: 20px;

    .hover-select {
      color: $Theme-select-color;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .article-list {
    max-width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .article-list {
    max-width: 100%;
  }
}
