/**
 *  日期：2018/9/5
 */

.article-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5em;
    color: rgba(0, 0, 0, .85);
  }

  .result-pane {
    width: 60vw;
    padding: 10px 25px;
    color: #444;
    font-size: 16px;
    line-height: 1.5em;

    table {
      border-collapse: collapse;
      border-spacing: 0;
    }

    tr {
      border-top: 1px solid #c6cbd1;
      background: #fff;
    }

    tr:nth-child(2n) {
      background: #f6f8fa;
    }

    th, td {
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
    }

    a {
      color: RGB(174, 129, 255);
      word-wrap: break-word;
    }

    blockquote {
      color: #666;
      margin: 0;
      padding-left: 3em;
      border-left: 0.5em #eee solid;
    }

    code {
      &:not(.language-null):not(.language-js) {
        display: inline-block;
        padding: 2px 4px;
        font-size: 90%;
        color: #c7254e;
        background-color: #f9f2f4;
        border-radius: 4px;
        line-height: 100%;
        vertical-align: text-bottom;
        word-break: break-all;
      }
      padding: .5em;
    }

    img {
      max-width: 100%;
      vertical-align: middle;
    }

    pre, code {
      display: block;
      overflow: auto;
      background: #f4f4f4;
      padding: 5px 10px;
      border: 1px solid #eee;
      word-wrap: break-word;
      white-space: pre-wrap;
    }

    pre {
      border: 1px solid #ccc;
      white-space: pre;
      padding: 5px;
      word-wrap: normal;
      resize: none;
      box-sizing: border-box;
      // https://stackoverflow.com/questions/44754987/getting-osx-safari-to-honor-css-white-space-pre
    }

    h2:not(:first-child) {
      margin-top: 1em;
    }

    details {
      cursor: pointer;
      summary {
        outline: none;
        line-height: 2em;
      }
      p {
         width: 90%;
         margin: 10px auto;
      }
    }
  }
}

.article-list {
  position: relative;
  width: 50vw;
  padding: 10px 10px 69px;

  .article-item {
    border-bottom: solid 1px $Theme-border-color;
    padding: 10px;
    margin-bottom: 20px;

    .hover-select {
      color: $Theme-select-color;
    }
    .labels {
      padding: 2px;
      margin-right: 2px;
      border: solid 1px;
      border-radius: 2px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .article-list {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .article-list {
    width: 100%;
  }
  .result-pane {
    width: 80vw !important;
  }
}
