.pagination {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: $Theme-font-default-color;
  padding: 0 20px;

  & > button {
    border: solid 1px $Theme-border-color;
    padding: 16px;
    border-radius: 8px;

    &:hover {
      background: $Theme-assist-color;
      transition: background-color 1s;
    }
  }
}