/*
 |--------------------------------------------------------------------------
 | Variable
 |--------------------------------------------------------------------------
 */
@mixin a-style {
  color: $Theme-font-color;
  text-decoration: none;
}

/*
 |--------------------------------------------------------------------------
 | Global
 |--------------------------------------------------------------------------
 */
@import "~antd/dist/antd.min.css";

* {
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: $Theme-font-color;
  font-family: SIYUAN;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

h5 {
  margin: 0;
  font-size: 1.5rem;
  color: $Theme-font-color;
}

h6 {
  font-size: 1.2rem;
}

body {
  height: 100%;
  width: 100%;
  #wrap {
    > .content {
      min-height: 650px;
      padding: 40px 0;
    }
  }

  /**
   *  鏈接
   */
  a {
    &:link, &:visited, &:active {
      @include a-style;
    }
    &:hover {
      @include a-style;
      color: #000;
      //border-bottom: 2px solid #ffaee2;
    }
  }

  /**
   *  消失
   */
  .v-vanish {
    visibility: hidden;
  }
  .d-vanish {
    display: none;
  }
}

/*
 |--------------------------------------------------------------------------
 | Button
 |--------------------------------------------------------------------------
 */

button {
  border-style: none;
  background: #fff;
  outline: none;
  cursor: pointer;
}

/*
 |--------------------------------------------------------------------------
 | Animation
 |--------------------------------------------------------------------------
 */

@keyframes my-face {
  0% {
    transform: rotate(0deg)
  }
  30% {
    transform: rotate(9deg)
  }
  60% {
    transform: rotate(0deg)
  }
  90% {
    transform: rotate(-9deg)
  }
}

/*
 |--------------------------------------------------------------------------
 | Font
 |--------------------------------------------------------------------------
 */

@font-face {
  font-family: SIYUAN;
  src: url("/font/SourceHanSerifCN-Heavy.otf") format("opentype");
  //src: url("/font/SourceHanSansCN-Medium.otf") format("opentype");
}
