/*
 |--------------------------------------------------------------------------
 | Global
 |--------------------------------------------------------------------------
 */

body {
  height: 100%;
  width: 100%;
  margin: 0;

  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  color: $Theme-font-color;
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    > .content {
      flex-grow: 1;
      padding: 40px 0;

      h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: .5em;
        color: rgba(0, 0, 0, .85);
      }

    }
  }

  /**
   *  鏈接
   */
  a {
    &:link, &:visited, &:active {
      @include a-style;
    }

    &:hover {
      @include a-style;
      color: #000;
      //border-bottom: 2px solid #ffaee2;
    }
  }

  /**
   *  消失
   */
  .v-vanish {
    visibility: hidden;
  }

  .d-vanish {
    display: none !important;
  }
}
