/*
 |--------------------------------------------------------------------------
 | Color
 |--------------------------------------------------------------------------
 */

$Theme-bg-color: #fff;
$Theme-bg-span-color: #ccc;
$Theme-font-color: #999;
$Theme-font-default-color: #000;
$Theme-assist-color: #ffd600;
$Theme-border-color: rgba(0, 0, 0, 0.05);
$Theme-select-color: rgba(91, 180, 255, 0.8);