/*
 |--------------------------------------------------------------------------
 | Color
 |--------------------------------------------------------------------------
 */

$Theme-bg-color: #fff;
$Theme-bg-span-color: #ccc;
$Theme-font-color: #999;
$Theme-font-default-color: #000;
$Theme-assist-color: #ffd600;
$Theme-border-color: rgba(0, 0, 0, 0.05);
$Theme-select-color: rgba(91, 180, 255, 0.8);

/*
 |--------------------------------------------------------------------------
 | Variable
 |--------------------------------------------------------------------------
 */
@mixin a-style {
  color: $Theme-font-color;
  text-decoration: none;
}

@mixin i-style {
  display: block;
  content: '';
  width: 24px;
  height: 24px;
  background-color: transparent;
}
