/*
 |--------------------------------------------------------------------------
 | Color
 |--------------------------------------------------------------------------
 */

$Theme-bg-color: #fff;
$Theme-font-color: #999;
$Theme-border-color: rgba(0,0,0,0.05);

/*
 |--------------------------------------------------------------------------
 | Global
 |--------------------------------------------------------------------------
 */
@import "~antd/dist/antd.min.css";

* {
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: $Theme-font-color;
}

body {
  height: 100%;
}

/*
 |--------------------------------------------------------------------------
 | Button
 |--------------------------------------------------------------------------
 */

.btn-none {
  border-style: none;
  outline: none;
  cursor: pointer;
}

/*
 |--------------------------------------------------------------------------
 | Animation
 |--------------------------------------------------------------------------
 */

.am-my-face {
  animation: my-face .3s infinite ease-in-out;
  display: inline-block;
  margin: 0 5px;
}

@keyframes my-face {
  0% {
    transform: rotate(0deg)
  }
  30% {
    transform: rotate(9deg)
  }
  60% {
    transform: rotate(0deg)
  }
  90% {
    transform: rotate(-9deg)
  }
}
