/*
 |--------------------------------------------------------------------------
 | Color
 |--------------------------------------------------------------------------
 */

$Theme-bg-color: #fff;
$Theme-font-color: #999;
$Theme-font-default-color: #000;
$Theme-assist-color: #ffd600;
$Theme-border-color: rgba(0, 0, 0, 0.05);
$Theme-select-color: rgba(255, 201, 139, 0.8);

/*
 |--------------------------------------------------------------------------
 | Global
 |--------------------------------------------------------------------------
 */
@import "~antd/dist/antd.min.css";

* {
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: $Theme-font-color;
  font-family: SIYUAN;
}

body {
  height: 100%;
  width: 100%;
  #wrap {
    > .content {
      height: 80vh;
      padding: 40px 0;
    }
  }
}

@mixin a-style {
  color: $Theme-font-color;
  text-decoration: none;
}

a {
  &:link, &:visited, &:active {
    @include a-style;
  }
  &:hover {
    @include a-style;
    color: #000;
    //border-bottom: 2px solid #ffaee2;
  }
}

/*
 |--------------------------------------------------------------------------
 | Button
 |--------------------------------------------------------------------------
 */

button {
  border-style: none;
  background: #fff;
  outline: none;
  cursor: pointer;
}

/*
 |--------------------------------------------------------------------------
 | Animation
 |--------------------------------------------------------------------------
 */

@keyframes my-face {
  0% {
    transform: rotate(0deg)
  }
  30% {
    transform: rotate(9deg)
  }
  60% {
    transform: rotate(0deg)
  }
  90% {
    transform: rotate(-9deg)
  }
}

/*
 |--------------------------------------------------------------------------
 | Font
 |--------------------------------------------------------------------------
 */

@font-face {
  font-family: SIYUAN;
  src: url("/font/SourceHanSerifCN-Heavy.otf") format("opentype");
  //src: url("/font/SourceHanSansCN-Medium.otf") format("opentype");
}
